<link href="/styles.css" rel="stylesheet" type="text/css">

<div class="header">
    <h1>Welcome to {{ title }}</h1>    
</div>
<br><br>
<div class="nav">
    <a href = "/showCoffee">Show Coffee</a>
    <a href="/showAddOn">Show AddOns</a>
    <a href = "/showSize">Show Size</a>
    <a href="/showDiscount">Show Discount</a>
    <a href="/showOrder">Generate Bill</a>

</div>
<router-outlet></router-outlet>

<!--
<app-coffee></app-coffee>

<app-addon></app-addon>

<app-size></app-size>

<app-discount></app-discount>
-->